body {
    background: #000;
    background-image: url(105440376.webp);
    background-size: 100%;
    font-family: 'Arvo', serif;
}

.hamburger{
    width: 35px;
    height: 5px;
    background-color: #eee;
    margin: 6px 0;
    display: grid;
}

.main {
    display: flex;
    background-color: lightblue;
    opacity: 90%;
    width: 100%;
    padding: 5px;
}

.bg-aqua {
    font-family: 'Archivo Black', sans-serif;
    /* padding: 20px; */
    /* background-color: #2a8edf; */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.mycard {
    background-color: white;
    opacity: 90%;
}

.navbarcontent {
    display: flex;
    margin-left: 42em;
}

.one {
    margin-left: -10px;
}

.two {
    margin-left: 15px;
    margin-right: 20px;
}

.four {
    text-align: right;
}

.lotus_icon {
    margin-top: -5px;
    margin-bottom: 0px;
    background-color: lightblue;
    opacity: 90%;
}

.lotus{
    height: 50px;
    width: 50px;
}

.img-icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    
}
